form {
border: none;
border-radius: 32px;
    width: 40%;
    background-color: rgb(241 239 239 / 85%);
}
body{
  background-color: #f0f0f0;
}
h2{
  color: white;
    text-align: center;
}
input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #00a653;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10PX;
}

button[type=submit]:hover {
  background-color: #028141;

}

.signupbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #b92d23;
}
.signupbtn:hover{
background-color: #f44336;}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;

  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.container2{
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
}
.newuser{
    font-size: 12px;
}
.psw>a{
    text-decoration: underline;
    color: black;
}
.psw>a:hover{
    color: blue;
}

.continue{
    display:flex ;
    justify-content: center;
}
.continue>span{
    margin: 2px;
    padding-right: 5px;
}