form {
    border-radius: 32px;
    width: 40%;
    height: 900px;
    background-color: #a1a0a0e6;
}
body{
  
  background-image: url(back.jpg);
  background-repeat: no-repeat;
}
h2{
    text-align: center;
    color: black;
}
input,select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}


.imgcontainer {
  text-align: center;
  margin: 10px 0 4px 0;
}

img.avatar {
  width: 50%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.container2{
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
}
.newuser{
    font-size: 14px;
    float: right;
}
.psw>a{
    text-decoration: underline;
    color: black;
}
.psw>a:hover{
    color: blue;
}

